<!DOCTYPE html>

<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KSP_APCC</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/login-two.png">
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/meanmenu.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
</head>
<body>
     <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>

    <header>
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="left">
                            <li><span><i class="far fa-clock"></i></span> 10:30AM - 5:30PM Mon - Sun</li>
                            <li><span><i class="fas fa-phone-alt"></i></span> 080 2294 3346 / 3039</li>
                            <li><span><i class="fas fa-map-marker-alt"></i></span> Karnataka State Police, India</li>
                        </ul>
                        <ul class="right">
                            <li><a href="#"><i class="fab fa-facebook-messenger"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            <li><a href="#"><i class="fas fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo logo-2">
                            <a href="index"><img src="img/logo.jpg" alt="logo_not_found"></a>
                            <p class="iso">(ISO : 9001 - 2015 CERTIFIED RECRUITMENT PROCESS)</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="index">Home </a>
                                    </li>

                                    <li>
                                        <a href="#">Notification</a>
                                    </li>

                                    <li>
                                        <a href="#">Instruction </a>
                                    </li>

                                    <li>
                                        <a href="#">Broucher </a>
                                    </li>

                                    <li>
                                        <a href="#">FAQ </a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="main-menu">
                            <div class="mobile-menu ">
                                <div class="header-button d-none d-lg-block f-right">
                                    <a class="thm-btn" href="login" style="padding: 8px;margin-top: 8px;">My Application</a>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-area  pt-40 pb-0 ">
            <div class="container ">
                <div class="row ">
                   <div class="col-md-12">
                      <p class="text-white text-center">© 2022 Karnataka State Police. All Rights Reserved</p> 

                   </div>
                    
                </div>
            </div>
        </div>
    </footer>

    <script src="js/vendor/modernizr-3.8.0.min.js "></script>
    <script src="js/vendor/jquery-1.12.4.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/owl.carousel.min.js "></script>
    <script src="js/waypoints.min.js "></script>
    <script src="js/jquery.counterup.min.js "></script>
    <script src="js/slick.min.js "></script>
    <script src="js/jquery.scrollUp.min.js "></script>
    <script src="js/jquery.meanmenu.min.js "></script>
    <script src="js/imagesloaded.pkgd.min.js "></script>
    <script src="js/jquery.magnific-popup.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/main.js "></script>
</body>
</html>
